html {
height: 100%
}

body {
height: 100%;
margin: 0;
padding: 0
}

#wrap { 
width: 1200px; 
margin: 0 auto;
padding-top: 20px;
}

#map {
float: left;
width: 1200px;
height: 800px;
margin-top:10px;
}

#heading {
float: left;
width: 60%;
margin-top: 5px
}


h1 {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
text-align: left;
color: #333;
}

h2 {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
margin-top: -20px;
text-align: left;
color: 565245;
}

h3 {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
margin-bottom: 30px;
margin-top: 0px;
text-align: left;
color: 565245;
}

em {
font-style: italic;
}

/* Panels */

#data, #credits, #insights {
float: left;
width: 1160px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
font-size: 1 em;
padding: 20px;
background: #efefef;
text-align: justify;
color: #666;
margin-top:10px;
}

#data h1, #credits h1, #insights h1 {
font-size: 1.5em
}

#data a, #credits a, #insights a {
color: #666;
}

#data .imgRight, #credits .imgRight, #insights .imgRight {
float: right;
width: 500px;
margin-left: 40px;
margin-bottom: 20px;
}


/* Override popup style */

.leaflet-popup-content-wrapper .leaflet-popup-content {
font-family: 'Source Sans Pro', sans-serif;
text-align: center;
padding: 15px;
}

.popupPlace{
font-weight: 400;
font-size: 2.5em;
color: #333333;
}

.popupCount{
font-weight: 200;
font-size: 1.7em;
color: #666666;
}

.leaflet-popup-tip-container {
color: red;
}

/* Overlay message on load */

#overlay {
z-index:10000;
position:absolute;
top:0;
bottom:0;
left:0;
width:100%;
height:100%;
background: rgba(255, 255, 255, .50);
visibility:hidden;
font-family: 'Source Sans Pro', sans-serif;
font-size: 1.3em;
}

#overlayContent {
border-radius: 10px;
background: rgba(0, 0, 0, .60);
box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
width: 750px;
height: 467px;
float: left;
margin-top: 150px;
margin-left: 200px;
padding: 20px;
}

#overlayText {
float: left;
width: 350px;
color: #ddd;
margin-left: 15px;
margin-top: 40px;
}

#overlayImage{
/* margin-top: 10px; */
margin-top: 34px;
width:350px;
float: right;
}

#overlayImage img{
/* width:350px; */
width:380px;
}

#overlayContent a{
color: #ddd;
}

#closeOverlay {
height: 37px;
width: 37px;
background: transparent url('imgs/close.png') no-repeat right top;
border: none;
float: right;
margin-top: -33px;
margin-right: -33px;
}

/* Panels */

.nav {
float: right;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
margin-top: 68px;
height: 35px;
list-style: none;
}

.nav li a {
display: block;
font-size: 1em;
height: 30px;
}

.nav ul li a:hover {
background: #333;
color:#000;
}

.nav li {
width: 100px;
float: left;
margin-right: 5px;
}

.nav li a {
display: block;
padding-top:5px;
background: #fff;
color: #000;
text-align: center;
text-decoration: none
}

.nav li a:hover, .nav li a:focus {
border-bottom: 3px solid #eee;
color: #000;
background-color: #fff
}

.nav li a.current, .nav li a.current:hover {
border-bottom: 3px solid #ddd;
background-color: #fff !important;
color: #000;
}

/* Override control style */
.leaflet-control {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 200;
font-size: 1.1em;
color: #333;
}

/* Legend */

#legend-control {
background:#ffffff;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
width: 35px;
height: 35px;
position:absolute;
top:60px;
bottom:0;
left:1155px;
z-index: 1000; 
}

#legend {
padding: 10px;
padding-right: 0;
background:#ffffff;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
width: 230px;
position:absolute;
top:390px;
left:10px;
z-index: 1000; 
color: #999;
}

#legend h1 {
float: left;
margin:0;
font-size: 1.5em;
margin-bottom: 5px;
}

.legend-item {
height:35px;
float: left;
display: block;
}

.legend-code {
width: 25px;
height: 20px;
background: red;
float: left;
}

.legend-label {
width: 200px;
height: 20px;
float: left;
margin-left: 5px;
}